.btn, .btn-large, .btn-inverse {
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;

  color: #fff;
  outline: 0;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  box-shadow: 0 0 24px rgba(234, 0, 41, 0.33);
  border-radius: 6px;
  border: none;

  &:hover, &:focus {
    background: #EA0029;
  }

  &:disabled, &.disabled {
    background: #BEC5CC;
    box-shadow: none;
    cursor: default;
  }
}

.btn-inverse:not(:disabled):not(.disabled) {
  background: transparent;
  border: 1px solid #fff;
  &:hover, &:focus {
    background: #fff;
    color: #000;
  }
}

.btn-large {
  font-size: 16px;
  padding: 16px 32px;
}

.btn-link {
  padding: 0;
  cursor: pointer;
  text-align: center;
  outline: 0;
  font-weight: 500;
  font-size: 14px;
  color: #EA0029;
  border: none;
  background: transparent;
  &:hover, &:focus {
    color: #F53A31;
  }
}