.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #DFE3E6;
  border-radius: 6px;
  &.checked {
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    border: none;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 15%;
      top: 24%;
      width: 14px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11'%3e%3cpath fill='%23fff' d='M4.45455 8.70149L1.11364 5.25373L0 6.40299L4.45455 11L14 1.14925L12.8864 0L4.45455 8.70149Z'/%3e%3c/svg%3e");
    }
  }
  &.disabled {
    background: #BEC5CC;
    pointer-events: none;
  }
  &:hover:not(.checked) {
    border: 1px solid #000;
  }
  input {
    display: none;
  }
}
