.input-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.input-message-invalid {
  margin-top: 4px;
  font-size: 10px;
  color: #EA0029;
}
.input {
  font-size: 14px;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #DFE3E6;
  border-radius: 3px;
  caret-color: #808080;

  &::placeholder {
    color: #BEC5CC;
  }

  &:hover {
    border: 1px solid #000;
  }

  &:focus {
    border: 1px solid #DFE3E6;
  }

  &:disabled, &.disabled {
    color: #808080;
    border: 1px solid #808080;
    &::placeholder {
      color: #808080;
    }
  }

  &.invalid {
    border: 1px solid #EA0029;
  }
}