.modal-wrapper {
  z-index: 999;
  position: fixed;
  @media (min-width: $breakpoint-sm) {
    display: flex;
    justify-content: center;
  }
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #b2b2b3;
  overflow: auto;
}
.modal {
  position: relative;
  width: 550px;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: $breakpoint-lg){
    width: 450px;
  }

  @media (max-width: $breakpoint-sm){
    width: 100%;
    height: 100%;
  }
  @media (min-width: $breakpoint-sm){
    border-radius: 30px;
  }
  background: #fff;
}
.modal-cross {
  position: absolute;
  height: 18px;
  width: 18px;

  right: 27px;
  top: 27px;

  @media (max-width: $breakpoint-sm){
    right: 22px;
    top: 22px;

    height: 12px;
    width: 12px;
  }

  fill: #EA0029;
}
.modal-body {
  padding: 32px;
  overflow: auto;
  @media (max-width: $breakpoint-sm){
    padding: 16px;
    border-radius: 0;
    height: 100%;
  }
}

.modal-title {
  font-size: 28px;
  margin: 10px 0 16px 0;

  @media (max-width: $breakpoint-sm){
    font-size: 18px;
  }
}

.modal-text {
  @media (max-width: $breakpoint-sm){
    font-size: 12px;
  }
}