.tag {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  border: none;
  background: #EEF0F2;
  border-radius: 50px;
  .muted {
    color: #a5a7aa;
  }

  &:hover {
    background: #DFE3E6;
  }

  &.active, &:focus {
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    color: #fff;
    .muted {
      color: #fff;
    }
  }
}