$spacers: (
        0: 0,
        1: 6px,
        2: 8px,
        3: 16px,
        4: 24px,
        5: 40px,
        'auto': auto
);

$utilities: (
  'margin': (
    (
      'property': margin,
      'class': m,
      'values': $spacers
    ),
    (
      'property': margin-top,
      'class': mt,
      'values': $spacers
    ),
    (
      'property': margin-right,
      'class': mr,
      'values': $spacers
    ),
    (
      'property': margin-bottom,
      'class': mb,
      'values': $spacers
    ),
    (
      'property': margin-left,
      'class': ml,
      'values': $spacers
    )
  ),
  'padding': (
    (
      'property': padding,
      'class': p,
      'values': $spacers
    ),
    (
      'property': padding-top,
      'class': pt,
      'values': $spacers
    ),
    (
      'property': padding-right,
      'class': pr,
      'values': $spacers
    ),
    (
      'property': padding-bottom,
      'class': pb,
      'values': $spacers
    ),
    (
      'property': padding-left,
      'class': pl,
      'values': $spacers
    )
  )
);

@each $utility_name, $utility_variations in $utilities {
  @each $var in $utility_variations {
    @each $value_name, $value in map_get($var, 'values') {
      .#{map_get($var, 'class')}-#{$value_name} {
        #{map_get($var, 'property')}: #{$value} !important;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .mt-sm-auto {
    margin-top: auto !important;
  }
}

