<template>
  <label class="checkbox" :class="{checked: checked || disabled, disabled: disabled}">
    <input
        :checked="checked"
        @change="$emit('change', $event.target.checked)"
        type="checkbox">
  </label>
</template>

<script>
export default {
  name: "CheckboxBase",
  model: {
    prop: "checked",
    event: 'change'
  },
  props: {
    checked: Boolean,
    disabled: Boolean
  }
}
</script>