<template>
  <div>
    <button class="btn-link">Кнопка</button>

    <button class="btn">Кнопка</button>
    <button class="btn" disabled>Кнопка</button>
    <button class="btn-large">Кнопка</button>
    <button class="btn-large" disabled>Кнопка</button>
    <div class="red-block">
      <button class="btn-inverse">Кнопка</button>
      <button class="btn-inverse" disabled>Кнопка</button>
      <button class="btn-large btn-inverse">Кнопка</button>
      <button class="btn-large btn-inverse" disabled>Кнопка</button>
    </div>
    <button class="tag active">
      32 000 ₽
      <span class="muted">5 лет 5 мес.</span>
    </button>
    <button class="tag">
      32 000 ₽
      <span class="muted">5 лет 5 мес.</span>
    </button>

    <CheckboxBase v-model="check1" />
    <p>{{check1}}</p>
    <div class="input-group">
      <p class="input-title">Текст</p>
      <input type="text" placeholder="Текст" class="input">
    </div>
    <div class="input-group">
      <p class="input-title">Текст</p>
      <input type="text" placeholder="Текст" disabled class="input">
    </div>
    <div class="input-group">
      <p class="input-title">Текст</p>
      <input type="text" placeholder="Текст" class="input invalid">
      <p class="input-message-invalid">Поле обязательно для заполнения</p>
    </div>
  </div>
</template>

<script>
import CheckboxBase from "@/components/BaseCheckbox";
export default {
  name: "UITest",
  components: {
    CheckboxBase
  },
  data() {
    return {
      check1: true
    }
  }
}
</script>

<style scoped>
button, div {
  margin: 10px;
}
.red-block {
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
}
</style>