<template>
  <div id="app">
    <BaseModal ref="tax">
      <div class="modal-body flex flex-column">
        <h2 class="modal-title">Налоговый вычет</h2>
        <p class="text-muted modal-text mb-4">
          Используйте налоговый вычет чтобы погасить ипотеку досрочно. <br>
          Размер налогового вычета составляет не более 13% от своего официального годового дохода.
        </p>
        <div class="input-group mb-2">
          <p class="input-title">Ваша зарплата в месяц</p>
          <input v-model="salary" placeholder="Введите данные" class="input w-100">
        </div>
        <button @click="calculate" type="button" class="btn-link align-self-flex-start">Рассчитать</button>
        <p v-if="billingYears.length" class="font-medium mt-3 mb-3">Итого можете внести в качестве досрочных:</p>
        <div v-for="(deduction, index) in billingYears">
          <div class="flex items-center mb-3 mt-3">
            <BaseCheckbox v-model="checkboxes[index]" class="mr-3" />
            <span>{{deduction}}</span>&nbsp;
            <span class="text-muted">{{` в ${index + 1}-й год `}}</span>
          </div>
          <div class="delimiter"></div>
        </div>
        <div class="flex items-center mt-4 mb-4">
          <p class="font-medium">Что уменьшаем?</p>
          <div class="ml-auto">
            <button type="button" class="tag mr-3">Платёж</button>
            <button type="button" class="tag">Срок</button>
          </div>
        </div>
        <button type="button" class="btn-large w-100 mt-auto">Добавить</button>
      </div>
    </BaseModal>
    <button @click="modalOpen($refs.tax)" class="btn-large btn-inverse">Налоговый вычет</button>
  </div>
</template>

<script>
import BaseModal from "@/components/BaseModal";
import ModalControl from "@/mixins/ModalControl";
import BaseCheckbox from "@/components/BaseCheckbox";
export default {
  name: 'App',
  mixins: [ModalControl],
  components: {
    BaseModal,
    BaseCheckbox
  },
  data() {
    return {
      salary: null,
      billingYears: [],
      checkboxes: []
    }
  },
  methods: {
    calculate() {
      this.billingYears = [];

      const salary = Number(this.salary);
      const maxDeductionPerYear = (salary * 12) * 0.13;
      const maxDeduction = 260000;

      const needYears = Math.ceil(maxDeduction / maxDeductionPerYear);

      let remainder = maxDeduction;

      for ( let i = 0; i < needYears; i++) {
        if(remainder - maxDeductionPerYear > 0) {
          this.billingYears.push(this.formatDeduction(maxDeductionPerYear));
          remainder -= maxDeductionPerYear;
        } else {
          this.billingYears.push(this.formatDeduction(remainder));
        }
        this.checkboxes.push(true);
      }
    },
    formatDeduction(value) {
      return String(value).replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ') + ' рублей';
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/all";
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
}
</style>
